*.sln.docstates
*.suo
*.user
*.userosscache
*.sln.ide
*.ps1.log
*.zip
*.ps1.error
.vs/*
Module.Modified.xml

# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/build/
**/bld/
**/[Bb]in/
**/[Oo]bj/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
/.idea/.idea.AdobeSign/.idea/.gitignore
/.idea/.idea.AdobeSign/.idea/.name
/.idea/.idea.AdobeSign/.idea/encodings.xml
/.idea/.idea.AdobeSign/.idea/indexLayout.xml
/.idea/.idea.AdobeSign/.idea/riderModule.iml
/.idea/.idea.AdobeSign/.idea/vcs.xml
